<h1> <%= @recipe.name %> </h1>

<%= @recipe.instructions %>
<ul>
  <% @recipe.tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>



<h4> rate this recipe!</h4>

<select form="rating" name="stars">
  <% @ratings.each do |rating| %>
    <option value="<%= rating.id %>" name="stars"> <%= rating.stars %></option>
  <% end %>
</select>
<form action="/recipes/<%= @recipe.id %>" method="post" id='rating'>
<input name="_method" type="hidden" value="patch">
<button> RATE! </button>
</form>
</br>

<h4> Ratings </h4>
<h5> Average Rating = <%= @avg %> </h5>
<ul>
<% @recipe.ratings.each do |rating| %>
  <li><%= rating.stars %></li>
<% end %>
</ul>
<a href="/recipes">Go Back </a>
